

.registro-proyecto{
	padding: 50px 0;
    width: 450px; 
    margin: auto;
}
.registro-proyecto .edit-form{
    background-color: #8ca07d;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
 
}

@media (max-width: 576px) {
    .registro-proyecto{
       
        width: 400px; 
    
    }
    .registro-proyecto .edit-form{
        padding: 50px 20px;
    }

    
}
body{
    background-color: #7ea9ac;
}