

.editar-habilidad{
	padding: 50px 0;
    width: 450px; 
    margin: auto;
}
.editar-habilidad .edit-form{
    background-color: #d2e4e5;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
 
}

@media (max-width: 576px) {
    .editar-habilidad{
       
        width: 400px; 
    
    }
    .editar-habilidad form{
        padding: 50px 20px;
    }

    
}
body{
    background-color: #164144;
}