<body>
  <div class="container">
    <div class="row">
      <div class="registro-experiencia">
        <div class="edit-form" (ngSubmit)="saveExperiencia()" [formGroup]="experienciaForm">
            <div *ngIf="!submitted" class="mb-4">
              
            
              <h2 class="text-center mb-4">Crea una Experiencia Nueva</h2>
              <div class="mb-4">
                <label for="empresa" class="form-label">Escribe el nombre de la empresa</label>
                <input type="text" class="form-control" id="empresa" name="empresa" required formControlName="empresa"/>
                <div *ngIf="experienciaForm.get('empresa')?.touched && experienciaForm.get('empresa')?.errors?.['required']" class="alert alert-danger">Este campo es requerido</div>
                <div *ngIf="experienciaForm.get('empresa')?.touched && experienciaForm.get('empresa')?.errors?.['minlength']" class="alert alert-danger">Este campo debe tener mas de {{experienciaForm.get('empresa')?.errors?.['minlength'].requiredLength}} caracteres</div>
              </div>
        
              <div class="mb-4">
                <label for="cargo" class="form-label">Escribe el cargo que tenias</label>
                <input class="form-control" id="cargo" required formControlName="cargo" name="cargo" />
                <div *ngIf="experienciaForm.get('cargo')?.touched && experienciaForm.get('cargo')?.errors?.['required']" class="alert alert-danger">Este campo es requerido</div>
                <div *ngIf="experienciaForm.get('cargo')?.touched && experienciaForm.get('cargo')?.errors?.['minlength']" class="alert alert-danger">Este campo debe tener mas de {{experienciaForm.get('cargo')?.errors?.['minlength'].requiredLength}} caracteres</div>
              </div>

              <div class="mb-4">
                <label for="descripcion" class="form-label">Aquí puedes colocar una decripcion sobre tu trabajo</label>
                <textarea name="descripcion" id="descripcion" cols="30" rows="5" class="form-control" required formControlName="descripcion">
                </textarea>
                <div *ngIf="experienciaForm.get('descripcion')?.touched && experienciaForm.get('descripcion')?.errors?.['required']" class="alert alert-danger">Este campo es requerido</div>
                <div *ngIf="experienciaForm.get('descripcion')?.touched && experienciaForm.get('descripcion')?.errors?.['minlength']" class="alert alert-danger">Este campo debe tener mas de {{experienciaForm.get('descripcion')?.errors?.['minlength'].requiredLength}} caracteres</div>
              </div>
        
              <div class="mb-4">
                <label for="fecha" class="form-label">Ingresa el año de comienzo de trabajo</label>
                <input type="number" class="form-control" id="fecha" required formControlName="fecha" name="fecha" />
                <div *ngIf="experienciaForm.get('fecha')?.touched && experienciaForm.get('fecha')?.errors?.['required']" class="alert alert-danger">Este campo es requerido</div>
                <div *ngIf="experienciaForm.get('fecha')?.touched && experienciaForm.get('fecha')?.errors?.['pattern']" class="alert alert-danger">Número incorrecto</div>
              </div>

              <div class="mb-4">
                <label for="fechafin" class="form-label">Ingresa el año de Finalización del trabajo</label>
                <input type="number" class="form-control" id="fechafin" required formControlName="fechafin" name="fechafin" />
                <div *ngIf="experienciaForm.get('fechafin')?.touched && experienciaForm.get('fechafin')?.errors?.['required']" class="alert alert-danger">Este campo es requerido</div>
                <div *ngIf="experienciaForm.get('fechafin')?.touched && experienciaForm.get('fechafin')?.errors?.['pattern']" class="alert alert-danger">Número incorrecto</div>
              </div>

              
              <button type="submit" class="btn btn-success" [disabled]="experienciaForm.invalid"
              (click)="saveExperiencia()">
                Crear
              </button>
             
              
            </div>
        
            <div *ngIf="submitted" class="mb-4">
              <h4>Creaste una Experiencia de forma exitosa</h4>
              <button class="btn btn-success" (click)="newExperiencia()">Crear otra experiencia</button>
              
            </div>
            <br>
          <div class="mb-4">
            <a class="btn btn-danger" routerLink="/portfolio/{{numero}}" >
              Volver a Home
            </a>
          </div>
        </div>
      </div> 
      </div>
    </div>
</body>