<footer style="background-color: #3dc6e5;">
  <div class="container p-4">
    <div class="row ">
      <h5 class="mb-3 col-6" style="letter-spacing: 2px; color: #302f2f;">Portfolio-Maker</h5>
      <p class="mb-3 col-6">
        Esta página web fue realizada por Emiliano Choque, utilizando los recursos de Spring Boot, Angular y MySQL con el objetivo de ser presentado como proyecto final para aprobar el curso #YoProgramo.
      </p>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-dark" href="">Argentina Programa</a>
  </div>

</footer>